.footer {
  background-color: green;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: olive;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
  }
}
.container {
}
