@import "global/fonts"; // Шрифты
@import "global/vars"; // Переменные
@import "global/global"; // Глобальные стили
@import "libs/libs"; // Сборка из библиотек

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
}

@import "blocks/header";
@import "blocks/footer";
// adaptive
@import "blocks/media";
